{:mvn/local-repo ".m2-local"
 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}}
 :paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        http-kit/http-kit {:mvn/version "2.8.0"}
        com.github.algebrain/lcmm-event-bus {:git/url "https://github.com/algebrain/lcmm-event-bus"
                                             :git/sha "dbfba133ff5a5faed6e05e2f0f6bf58a454630a9"}
        com.github.algebrain/lcmm-configure {:git/url "https://github.com/algebrain/lcmm-configure"
                                             :git/sha "340b219d6cb637c7ea3e5cb8797502b6065bb0fd"}
        com.github.algebrain/lcmm-router {:git/url "https://github.com/algebrain/lcmm-router"
                                          :git/sha "c10b2aa0afd161a9e4c366d85f45182e3dc7126c"}
        com.github.algebrain/lcmm-registry {:git/url "https://github.com/algebrain/lcmm-registry"
                                            :git/sha "905ca6ffc856f8bea8dfbc7d83731dfe3ca56b0c"}
        com.github.algebrain/lcmm-observe {:git/url "https://github.com/algebrain/lcmm-observe"
                                           :git/sha "8e7f63dfa37cc3eada75e8e1917f80c0bf023280"}
        com.github.algebrain/lcmm-guard {:git/url "https://github.com/algebrain/lcmm-guard"
                                         :git/sha "c4d3a709b4224b0b142bba10691603ae71fe0746"}
        com.github.algebrain/lcmm-http {:git/url "https://github.com/algebrain/lcmm-http"
                                        :git/sha "10df646d542adfa25d52e73c1d61b3cdc7178c48"}
        com.github.algebrain/lcmm-ws {:git/url "https://github.com/algebrain/lcmm-ws"
                                      :git/sha "ba84f182cf59154249af886a378bdb8a44e3b5b4"}
        accounts/module {:local/root "../modules/accounts"}
        catalog/module {:local/root "../modules/catalog"}
        booking/module {:local/root "../modules/booking"}
        notify/module {:local/root "../modules/notify"}
        audit/module {:local/root "../modules/audit"}}
 :aliases {:run-main {:main-opts ["-m" "booking-full.main"]}
           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}}
                  :main-opts ["-m" "kaocha.runner"]}
           :lint {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2026.01.19"}}
                  :main-opts ["-m" "clj-kondo.main" "--cache-dir" ".clj-kondo-cache" "--lint" "src/booking_full" "test/booking_full"]}
           :format {:extra-deps {dev.weavejester/cljfmt {:mvn/version "0.15.6"}}
                    :main-opts ["-m" "cljfmt.main" "fix" "src/booking_full" "test/booking_full"]}}}
